body {
  background-image: url("back.svg");
}
body {
  margin: opx auto;
  background-color: lightblue;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  padding: 10px 30px;
  border: 2px solid gray;
}
button {
  padding: 10px 30px;
  border: 1px solid gray;
  background-color: aquamarine;
}
